@model VueConfig

<div id="app" style="display: none" v-show="true" >
    <transition name="component-fade" mode="out-in">
        <component v-bind:is="currentView"></component>
    </transition>

    <div v-show="menu.isShow" v-bind:style="{ transform: (menu.isOpen ? 'translateX(-100%)' : 'translateX(-35px)'), display: (isFireFox() ? 'ruby' : 'table') }" id="user-menu" class="min-block text-14 mrg-10">
        <div class="container">
            <div class="row mrg-5">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4 menu-ava">
                    <img v-bind:src="menu.userAva == null ? '/images/ava.png' : menu.userAva">
                </div>
                <div class="col-sm">
                    <label class="vertical-center">{{menu.userName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 show-hide-menu">
                    <div v-on:click="openCloseUserMenu" v-if="menu.isOpen" class="svg-min-btn" title="Скрыть">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
                        </svg>
                    </div>
                    <div v-on:click="openCloseUserMenu" v-else class="svg-min-btn" title="Раскрыть">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                    </div>
                </div>
                <div class="col-sm btn-menu min-back-rect min-back-rect-light-red">
                    <div class="svg-min-btn" title="Помощь">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                        </svg>
                    </div>
                    <div class="svg-min-btn" title="Лобби" v-on:click="onLobbyMenuClick">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                            <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                            <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198l.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
                        </svg>
                    </div>                    
                    <div class="svg-min-btn" title="Выйти" v-on:click="onLoginMenuClick">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-container" v-bind:style="{ 'z-index': (alerts.length > 0 ? '10' : '-10'), 'overflow-y': 'scroll', 'overflow-x': 'hidden' }" >
        <transition-group name="alerts" tag="div">
            <div class="mrg-5" v-for="item in alerts" v-bind:key="item" v-bind:style="{ background: getColorForMType(item.mtype) }">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1 alert-close-container">
                            <div class="svg-min-btn" v-on:click="removeAlert(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0;" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-sm">
                            <label v-html="item.message"></label>
                        </div>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>

    <div class="hide" id="pages"></div>
</div>

<script src="~/js/vue-app.js"></script>

<script>

    app.switchPage('@Html.Raw(Model.FirstPage)');
</script>

<template id="min-window">
    <transition name="bounce">
        <div v-show="isOpen" class="min-block min-window">
            <div class="min-window-header">
                <button v-show="onCloseClickClbk != null" v-on:click="onCloseClick" class="min-btn min-btn-red min-btn-30 min-window-close">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin: -6px 0 0 1px;" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                    <div class="cross"></div>
                </button>
            </div>
            <slot></slot>            
        </div>
    </transition>
</template>
<script>
    Vue.component('minwindow', {
        template: '#min-window',
        props: {
            isOpen: Boolean,
            onCloseClickClbk: Function
        },
        methods: {
            onCloseClick: function () {

                if (this.onCloseClickClbk)
                    this.onCloseClickClbk();
            }
        }
    })
</script>
