<template id="hub">
    <div class="max-height">
        <div class="container vertical-center max-height">
            <div class="row" style="height: 10%">
            </div>
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm-7 hub-panel">
                    <button class="min-btn min-btn-gold">
                        Случайная <br>
                        игра
                        <div class="cross"></div>
                    </button>

                    <button class="min-btn min-btn-blue">
                        Создать <br>
                        комнату
                        <div class="cross"></div>
                    </button>

                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row" style="height: 75%">
                <div class="col-sm">
                </div>
                <div class="col-sm-9">
                    <div class="min-block" style="height: 100%;"></div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('Hub', {
        template: '#hub',
        data: function () {
            return {

            }
        },        
        methods: {
            test: function () {

            }
        }
    })
</script>
