<template id="second">
    <div>
        FF0xFF231 {{message}}
        <input v-model="message">
    </div>
</template>

<script>
    var dt = {
        message: 'asds'
    };

    Vue.component('Second', {
        template: '#second',
        data: function () {
            return dt;
        }
    })
</script>
